@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    display:flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    height:80%;
    width:50%;
    padding: 10px;
    border-radius: 10px;
    background-color:#e7e7e7;
}
.search {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 0px 10px;
    margin: 4px;
    font-size: 14px;
    font-family: 'Inter';
    outline: none;
    font-weight: 500;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
div#results {
    height: calc(100% - 50px);
    overflow-y: scroll;
    width: 100%;
}
.searchresult h4{
    margin-bottom: 4px;
}
.searchresult p{
    display: flex;
    align-items: center;
    margin: 6px 0px;
}
.searchresult p a {
    align-items: center;
    display: flex;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}
.searchresult p a:hover {
    background-color: #d4d4d4;
}